<!DOCTYPE html>
<html lang="en">
<head>
<title>Saycel Reports</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
img{
	width: 95%;
	padding-top:2em;
}
</style>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			    <span class="sr-only">Toggle navigation</span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="./1d">Saycel Reports</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
		    <li><a href="./12h">12 hours</a></li>
		    <li><a href="./1d">1 day</a></li>
		    <li><a href="./1w">1 week</a></li>
		    <li><a href="./1m">1 month</a></li>
		  </ul>
	    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

<div class = "row">
<div class = "col-md-8 col-md-offset-2">

<h1>Reports for the past 
<%if(data=='12h'){%> 12 hours <%}%> 
<%if(data=='1d'){%> 1 day <%}%> 
<%if(data=='1w'){%> 1 week <%}%> 
<%if(data=='1m'){%> 1 month <%}%> 

</h1>
</div>
</div>

<div class = "row">
<div class = "col-md-8 col-md-offset-2">


<img src="../imgs/calls-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/chans-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/cpu-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/disk-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/eth0_errors-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/eth0_traffic-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/hlr_onlinenoreg-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/loadaverage-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/memory-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
<img src="../imgs/temperature-<%=data %>.png" class="img-responsive" alt="Responsive image"/>
</div>
</div>
</div>
</body>
</html>
